<br>
<div class="container">
  <div>
  <h2  Style="text-align:center;">Order Details of Customer</h2>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Shoes</td>
      <td>1</td>
      <td>200</td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>clothes</td>
      <td>4</td>
      <td>800</td>
    </tr>
  </tbody>
</table>
</div>
</div>

